* {
    margin: 0;
    padding: 0;
    background: darkslategrey;
}

#wrapper {
    background: black;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    grid-template-columns: repeat(8, 1fr);
    align-content: center;
    grid-gap: 0.5em;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.75);
    display: none;
}

#startBut {
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    width: 90px;
    height: 50px;
    top: 50%;
    border-radius: 20px;
    font-size: 40px;
    color: whitesmoke;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
    animation: but 2s infinite alternate;
    outline: none;
}

.item {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: darkcyan;
    text-align: center;
    font-size: 0;
}

.isShow {
    color: whitesmoke;
    font-size: 38px;
}

.spin {
    animation: rotate 0.3s;
}

#counter {
    width: 420px;
    text-align: center;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40px;
    font-size: 38px;
    color: whitesmoke;
}

@keyframes but {
    from {
        background: forestgreen;
        width: 90px;
        height: 50px;
        font-size: 30px;
    }
    to {
        font-size: 40px;
        width: 110px;
        height: 70px;
        background: royalblue;
    }
    to {
        font-size: 30px;
        width: 90px;
        height: 50px;
        background: firebrick;
    }
    to {
        font-size: 40px;
        width: 110px;
        height: 70px;
        background: cadetblue;
    }
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}
